nav > ul {
  display: flex;
}
nav li {
  list-style: none;
  margin-right: 20px;
}

nav li:hover {
  background-color: lightgray;
  padding: 0 10px;
}

nav li a {
  text-decoration: none;
  color: bl;
  font-size: 20px;
}

.dropdown {
  display: none;
}

nav > ul > li:hover > ul {
  display: block;
  position: absolute;
  background-color: orange;
  padding: 0;
}

.dropdown li {
  padding: 0 20px;
  margin: 0;
}
